src/wallet/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.example.com/VirtualWallet"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.example.com/VirtualWallet"
  name="VirtualWallet">

  <!-- Definici贸n de mensajes -->
  <message name="RechargeWalletRequest">
    <part name="documentNumber" type="xsd:string"/>
    <part name="phoneNumber" type="xsd:string"/>
    <part name="amount" type="xsd:double"/>
  </message>

  <message name="GetWalletBalanceRequest">
    <part name="documentNumber" type="xsd:string"/>
    <part name="phoneNumber" type="xsd:string"/>
  </message>

  <message name="MakePaymentWithWalletRequest">
    <part name="documentNumber" type="xsd:string"/>
    <part name="phoneNumber" type="xsd:string"/>
    <part name="purchaseAmount" type="xsd:double"/>
  </message>

  <message name="ConfirmPaymentWithWalletRequest">
    <part name="token" type="xsd:string"/>
    <part name="sessionId" type="xsd:string"/>
  </message>

  <message name="WalletResponse">
    <part name="success" type="xsd:boolean"/>
    <part name="cod_error" type="xsd:string"/>
    <part name="message_error" type="xsd:string"/>
    <part name="data" type="xsd:string"/>
  </message>

  <!-- Definici贸n de operaciones -->
  <portType name="WalletServicePortType">
    <operation name="rechargeWallet">
      <input message="tns:RechargeWalletRequest"/>
      <output message="tns:WalletResponse"/>
    </operation>

    <operation name="getWalletBalance">
      <input message="tns:GetWalletBalanceRequest"/>
      <output message="tns:WalletResponse"/>
    </operation>

    <operation name="makePaymentWithWallet">
      <input message="tns:MakePaymentWithWalletRequest"/>
      <output message="tns:WalletResponse"/>
    </operation>

    <operation name="confirmPaymentWithWallet">
      <input message="tns:ConfirmPaymentWithWalletRequest"/>
      <output message="tns:WalletResponse"/>
    </operation>
  </portType>

  <!-- Definici贸n de enlace (binding) -->
  <binding name="WalletServiceBinding" type="tns:WalletServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="rechargeWallet">
      <soap:operation soapAction="http://www.example.com/VirtualWallet#RechargeWallet"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="getWalletBalance">
      <soap:operation soapAction="http://www.example.com/VirtualWallet#GetWalletBalance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="makePaymentWithWallet">
      <soap:operation soapAction="http://www.example.com/VirtualWallet#MakePaymentWithWallet"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="confirmPaymentWithWallet">
      <soap:operation soapAction="http://www.example.com/VirtualWallet#ConfirmPaymentWithWallet"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- Definici贸n del servicio -->
  <service name="WalletService">
    <port name="WalletServicePort" binding="tns:WalletServiceBinding">
      <soap:address location="http://localhost:3000/wallets"/>
    </port>
  </service>
</definitions>
