src/service.wsdl

<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/soap"
  targetNamespace="http://example.com/soap"
  name="ExampleService"
>
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/soap">
      <element name="GetDataRequest">
        <complexType>
          <sequence>
            <element name="id" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="GetDataResponse">
        <complexType>
          <sequence>
            <element name="data" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GetDataRequest">
    <part name="parameters" element="tns:GetDataRequest"/>
  </message>
  <message name="GetDataResponse">
    <part name="parameters" element="tns:GetDataResponse"/>
  </message>
  <portType name="ExamplePortType">
    <operation name="GetData">
      <input message="tns:GetDataRequest"/>
      <output message="tns:GetDataResponse"/>
    </operation>
  </portType>
  <binding name="ExampleBinding" type="tns:ExamplePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetData">
      <soap:operation soapAction="http://example.com/soap#GetData"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ExampleService">
    <port name="ExamplePort" binding="tns:ExampleBinding">
      <soap:address location="http://localhost:3000/wsdl"/>
    </port>
  </service>
</definitions>
